.div {
display: inline;
}

.top_html {
border:0px;
margin:0px;
#padding:0px;
}

.top_body {
border:0px;
margin:0px;
#padding:0px;
}

.hdr_div {
border:0px;
margin:0px;
padding:0px;
position:absolute;
left:0px;
top:0px;
width:320px;
height:0px;
}

.hdr_iframe {
border:0px;
margin:0px;
padding:0px;
width:320px;
height:70px;
background:#dddd22;
}

.hdr {
border:0px;
padding:0px;
width:990px;
height:70px;
}

.hdr_cell1 {
border:0px;
padding:0px;
width:600px;
height:70px;
}

.hdr_cell2 {
border:0px;
padding:0px;
width:390px;
height:70px;
}

.nav_div {
position:absolute;
left:0px;
top:100px;
width:140px;
height:460px;
display:inline;
}

.nav_iframe {
border:0px;
#margin:0px;
padding:0px;
width:140px;
height:460px;
background:#dddd22;
}

.nav_row {
border:0px;
margin:0px;
padding:0px;
width:140px;
height:30px;
}

.ctt_div {
position:absolute;
left:0px;
top:100px;
width:320px;
height:460px;
#background:#dddd22;
}

.ctt_iframe {
border:0px;
margin:0px;
padding:0px;
width:850px;
height:460px;
}

.map_div {
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:150px;
top:100px;
width:500px;
height:460px;
background:#dddd22;
}

.map_iframe {
margin:0px;
padding:0px;
border:0px;
width:500px;
height:460px;
}

.map {
margin:0px;
padding:0px;
border:0px;
}

.dtl_div {
position:absolute;
left:660px;
top:100px;
width:340px;
height:90px;
background:#dddd22;
}

.dtl_div_big {
position:absolute;
left:660px;
top:100px;
width:340px;
height:460px;
background:#dddd22;
}

.tbl_div {
position:absolute;
left:660px;
top:200px;
width:340px;
height:360px;
background:#dddd22;
}

.tbl_iframe {
margin:0px;
padding:0px;
border:0px;
width:340px;
height:360px;
}

.tbl {
margin:0px;
padding:0px;
border:0px;
width:320px;
height:360px;
}

table.tbl {
border:1px;
}

.header_row {
    height:20px;
}

.data_row {
    height:20px;
}
.footer_row {
    height:20px;
}

.ftr_div {
margin:0px;
padding:0px;
border:0px;
position:absolute;
left:0px;
top:570px;
width:1000px;
height:50px;
background:#dddd22;
}

.ftr_iframe {
margin:0px;
padding:0px;
border:0px;
width:1000px;
height:50px;
}

.ftr {
margin:0px;
padding:0px;
border:0px;
width:1000px;
height:50px;
}
