body, iframe {
margin:0px;
padding:0px;
border-style:none;
border-width:0px;
color:#000;
overflow:hidden;
}

div {
display: inline;
position:absolute;
}

.hdr_div, .hdr_iframe {
left:0px;
top:0px;
width:1000px;
height:80px;
background-color:#2b8;
}

.nav_div, .nav_iframe {
border:0px;
margin:0px;
padding:0px;
left:0px;
top: 90px;
width:200px;
height:170px;
background-color:#dd2;
}

.nav_div_long, .nav_iframe_long {
border:0px;
margin:0px;
padding:0px;
left:0px;
top: 90px;
width:200px;
height:500px;
background-color:#dd2;
}

.sw_div, .sw_iframe {
left:0px;
top: 270px;
width:200px;
height:320px;
background-color:#dd2;
}

.ctt_div {
left:210px;
top: 90px;
width:790px;
height:420px;
background-color:#dddd22;
}

.ctt_iframe {
border:0px;
margin:0px;
padding:0px;
width:790px;
height:420px;
}

.map_div {
left:210px;
top: 90px;
width:500px;
height:500px;
background-color:#dddd22;
margin:0px;
padding:0px;
border:0px;
}

.map_iframe {
width:500px;
height:500px;
margin:0px;
padding:0px;
border:0px;
}

.sum_div, .sum_iframe {
left:720px;
top: 90px;
width:280px;
height:170px;
background-color:#dd2;
}

.tbl_div, .tbl_iframe {
left:720px;
top:270px;
width:280px;
height:320px;
background-color:#dd2;
}

.tbl_div_long, .tbl_iframe_long {
left:720px;
top: 90px;
width:280px;
height:500px;
background-color:#dd2;
}

.dtl_div, .dtl_iframe {
margin:0px;
padding:0px;
border:0px;
left:720px;
top: 90px;
width:280px;
height:500px;
background-color:#dd2;
}

.ftr_div, .ftr_iframe {
left:0px;
top:600px;
width:1000px;
height:50px;
background-color:#2b8;
}


