html, body, table, tbody, tr, td, h1, h2, h3, h4, h5, h6, p, text, input, select, textarea {
margin:0px;
padding:0px;
border-style:none;
border-width:0px;
color:#000;
font-family:"Open Sans";
font-size:13px;
font-weight:580;
}

button {
font-family:"Open Sans";
font-size:13px;
font-weight:580;
}

a, .nav_row {
	color:#11e;
}

.hdr {
   margin:0px;
   padding:0px;
   border:0px;
}

table.hdr, tbody.hdr {
max-height:80px;
}

.hdr_cell1 {
width:80px;
height:80px;
}

.hdr_cell2 {
width:720px;
height:20px;
/* background-color:#ff0000; */
}

.hdr_cell3 {
width:300px;
max-height:52px;
}

h1.hdr_title {
font-size:16px;
font-weight:600;
}

.nav_row {
padding-left:10px;
padding-top:12px;
width:200px;
height:18px;
}

.dtl_label {
width: 90px;
}

.dtl_input {
width: 276px;
}

.dtl_textarea {
width:100px;
}

td.dtl_button_row {
	width:100%;
}

button.dtl_button {
	margin-top:20px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:0px;
}

input.form_button,button.form_button {
	margin-top:2px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2px;
}

.tbl {
width:280px;
height:360px;
}

table.tbl {
border:1px;
}

.header_row {
    height:20px;
}

.label_row {
    height:14px;
}
.input_row {
    height:14px;
}
.separator_row {
	height:5px;
}

.footer_row {
    height:20px;
}

tr.lastrow {
	height:9999px;
	overflow-y:hidden;
}

.ftr {
width:1000px;
height:50px;
}

table.sw_table {
padding-top:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}

td.sw_badge {
	padding-top:4px;
	padding-bottom:2px;
}

td.sw_link {
	padding-top:4px;
	padding-bottom:2px;
}
