<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/css/panels.css" />
<script src="{{prefix}}/javascript/utilities.js" type="text/javascript"></script>
<script src="{{prefix}}/javascript/restful_api_support.js" type="text/javascript"></script>
</head>
<body>
    <form id="the_form" method="post" action="/update" />
{% for var in hidden_vars %}    <input type="hidden" name="{{ var.0 }}" value="{{ var.1 }}"/>
{% endfor %}
    <table style="border:1px;margin:0px;padding:0px">
{% for row in attribute_rows %}
		<tr class="label_row"><td>{{ row.0 }}</td></tr>
		<tr class="input_row">
			<td>
				<input class="dtl_input" id="{{row.2}}" type="{{ row.1 }}" name="{{ row.2 }}" value="{{ row.3 }}" size="100" {{row.4}} {{disable_editing}}/>
			</td>
		</tr>
		<tr class="separator_row"><td></td></tr>
{% endfor %}
{% for row in multiline_rows %}
		<tr class="label_row">
			<td>{{ row.0 }}</td>
		</tr>
		<tr>
			<td>
				<textarea class="dtl_input" 
					id="{{row.1}}" 
					name="{{row.1}}" 
					rows="{{row.2}}" 
					cols="{{row.3}}" 
					{{disable_editing}}
				>{{row.4}}</textarea>
			</td>
		</tr>
{% endfor %}
{% for row in select_rows %}
		<tr class="data_row">
			<td class="dtl_label">
				{{ row.label }}
				<select name="{{row.name}}" {{row.extra}}>
{% for opt in row.options %}
					<option label="{{opt.label}}" value="{{opt.value}}" {{opt.extra}}>{{opt.label}}</option>
{% endfor %}
				</select>
			</td>
		</tr>
{% endfor %}

		<tr><td class="dtl_button_row">
{% for button in buttons %}
			<button type="button" class="dtl_button" onclick="{{ button.onclick }}">{{ button.label }}</button>
{% endfor %}
		</td><tr>

        <input type="hidden" id="item_type" name="item_type" value="{{item_type}}"/>
        <input type="hidden" id="handle" name="handle" value="{{handle}}"/>
   </table>
   </form>
</body>
</html>
{% endautoescape %}
