<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
<script src="{{prefix}}/javascript/utilities.js" type="text/javascript"></script>
<!--
<script src="http://maps.googleapis.com/maps/api/js?key={{google_api_key}}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "trailer/javascript/create_new_trail.js" %}"></script>
-->
</head>
<body class="tbl" Xonload="form_loaded(this);" >
    <form  
    	Xonsubmit="create_new_trail(this);"
    >
    <table class="tbl" style="border:1px;margin:0px;padding:0px">
    <tbody>
{% for form_item in form_items %}
{% if form_item.type == "label" %}
    <tr class="header_row">
    <th style="width:276px;text-align:left">{{form_item.value}}</th>
    </tr>
{% elif form_item.type == "link" %}
    <tr>
	    <td style="width:276px;text-align:left">
			<a {{form_item.extra_attributes}}>{{form_item.value}}</a>
	    </td>
    </tr>
{% elif form_item.type == "single_line_input" %}
	<tr class="data_row">
	<td>
		<input 
			style="width:276px;text-align:left" 
			value="{{form_item.value}}" 
			{{form_item.extra_attributes}} 
		/>
	</td>
	</tr>
{% elif form_item.type == "multi_line_input" %}
	<tr class="data_row">
	<td>
		<textarea 
			style="width:276px;text-align:left" 
			{{form_item.extra_attributes}}
		>{{form_item.value}}</textarea>
	</td>
	</tr>
{% elif form_item.type == "checkbox" %}
	<tr class="data_row">
	<td><input type="checkbox" id="{{form_item.text}}">&nbsp;{{form_item.extra}}</input></td>
	</tr>
{% elif form_item.type == "button" %}
	<tr class="data_row" >
	<td><button type="button" class="form_button" id="{{form_item.text}}">{{form_item.extra}}</button></td>
	</tr>
{% elif form_item.type == "submit" %}
	<tr class="data_row" >
	<td><button type="submit" class="form_button" id="{{form_item.text}}">{{form_item.extra}}</button></td>
	</tr>
{% elif form_item.type == "javascript" %}
	<script type="text/javascript">
	{{form_item.text}}
	</script>
{% else %}
<!-- {{form_item}} -->
{% endif %}
{% endfor %}
<tr class="filler_row"><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr class="lastrow"><td></td><td></td></tr>
  </tbody>
  </table>
  </form>
</body>
</html>
{% endautoescape %}