<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
<script src="http://maps.googleapis.com/maps/api/js?key={{google_api_key}}" type="text/javascript"></script>
<script src="{{prefix}}/javascript/map.js" type="text/javascript"></script>
<script type="text/javascript">
  {% for item in list_items %}
    {% if item.class_name == "Group" %}
    	add_group("{{ item.name_u }}",
    		{{item.bounds.0}},{{item.bounds.1}},{{item.bounds.2}},{{item.bounds.3}}
    	);
    {% endif %}
    {% if item.class_name == "Trail" %}
    	add_trail("{{ item.name_u }}",
    		{{item.bounds.0}},{{item.bounds.1}},{{item.bounds.2}},{{item.bounds.3}}
    	);
    {% endif %}
    {% if item.class_name == "Zone" %}
    	add_zone("{{ item.name_u }}",{{ item.latitude }},{{ item.longitude }}, {{ item.radius_metres }}, true );
    {% endif %}
  {% endfor %}
</script>
</head>
<body class="map" onload="initialize_map({{bounds}});">
  <div id="map_canvas" class="map" style="width:500px;height:500px">
  <p>Attempting to load map with bounds {{bounds}}</p>
  </div>
</body>
</html>
{% endautoescape %}
