<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="nav">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
<script src="{{prefix}}/javascript/restful_api_support.js" type="text/javascript"></script>
</head>
<body class="nav">
<table class="nav">
{% for n in navigation_items  %}
    <tr class="nav_row">
{% if n.url %}
        <td class="nav_row" onmouseup="parent.location='{{ n.url }}'">{{ n.text }}</td>
{% endif %}
{% if n.action %}
        <td class="nav_row" onmouseup="{{ n.action }}">{{ n.text }}</td>
{% endif %}
    </tr>
{% endfor %}

    <!-- We add one row without a class, which will absorb
      -- extra vertical space within the table.
      -->
    <tr><td></td></tr>
</table>
</body>
</html>
{% endautoescape %}
