<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}

<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
</head>

<body>

<table class="sw_table">
<tbody>

<tr><td>
Users of the 'Trailer' applications for iOS and Android  
can use this site to create and share files in the
'.tqz' format accepted by these applications.
</td></tr>

<tr class="sw_badge"><td class="sw_badge">
Trailer for iOS&trade;:
<br/>
<a href="https://itunes.apple.com/us/app/tl-trailer/id511877626?mt=8&uo=4" target="itunes_store">
	<img alt="tl-trailer - Tim Littlefair" style="border: 0;"
		src="http://r.mzstatic.com/images/web/linkmaker/badge_appstore-lrg.gif" />
</a>
</td></tr>

<tr class="sw_badge"><td class="sw_badge">
Trailer for Android&trade;
<br/>
<a href="https://play.google.com/store/apps/details?id=com.blogspot.tltrailer.androidapp" target="google_play">
  <img alt="Get it on Google Play"
       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>
</td></tr>

<tr class="sw_link"><td class="sw_link">
<a href="http://tl-trailer.blogspot.com" target="_blank">
Development blog
</a>
</td></tr>

<tr class="sw_link"><td class="sw_link">
<a href="mailto://tl.trailer.help@gmail.com" target="_blank">
Contact us
</a>
</td></tr>

</tbody>
</table>
</body>
</html>

{% endautoescape %}
