<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
<script src="http://maps.googleapis.com/maps/api/js?key={{google_api_key}}" type="text/javascript"></script>
<script src="{{prefix}}/javascript/utilities.js" type="text/javascript"></script>
</head>
<body class="tbl">
    <table class="tbl" style="border:1px;margin:0px;padding:0px">
        <tr class="header_row">
        	<th style="width:170px;text-align:left">{{header_row.0}}</th>
        	<th style="width:90px;text-align:right">{{header_row.1}}</th>
        </tr>
{% for row in rows %}<tr class="data_row"><td>{{ row.0 }}</td><td style="text-align:right">{{ row.1 }}</td></tr>
{% endfor %}
<tr class="filler_row"><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr class="lastrow"><td></td><td></td></tr>
  </table>
</body>
</html>
{% endautoescape %}