<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html"; charset="iso-8859-1"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}" />
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{{prefix}}/javascript/utilities.js" type="text/javascript"></script>
</head>
<body class="tbl">
    <form method="get" id="the_form" action="/update">
    <input type="hidden" name="item_type" value="Zone"/>
    <input type="hidden" name="which" value="{{z.id}}"/>
    <input type="hidden" name="parent" value="{{z.trail.id}}"/>
    <table class="tbl" style="border:1px;margin:0px;padding:0px">
        <tr class="header_row">
        	<th style="width:255px;text-align:left">Attribute</th>
        	<th style="width:65px;text-align:left">Value</th>
        </tr>
{% for ar in attribute_rows %}		<tr class="data_row">
			<td>{{ ar.0 }}</td>
			<td style="text-align:right">
				<input type="{{ar.1}}" id="{{ar.2}}" name="{{ar.2}}" size="38" value="{{ar.3}}" />
			</td>
		</tr>
{% endfor %}
		<tr class="filler_row"><td>&nbsp;</td><td>&nbsp;</td></tr>
{% if mode == "rw" %}        <tr class="footer_row">
            <td colspan="2">
                <input type="button" value="Cancel" onclick=""/>
                <input type="submit" value="Update"/>
            </td>
        </tr>
{% endif %}
		
  	</table>
  </form>
</body>
</html>
{% endautoescape %}