<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="ftr">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html"; charset="iso-8859-1"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
</head>
<body class="ftr">
<p class="ftr">
Trailer web application version {{appver}}
running on Red Hat OpenShift version 3
<br/>
&copy; Tim, Jack and Gabriel Littlefair, 2011-2017</p>
</body>
</html>
{% endautoescape %}
