<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="hdr">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html"; charset="iso-8859-1"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
</head>
<body class="hdr">
<table class="hdr" style="max-height:80px;"><tbody class="hdr">
<tr class="hdr">
<td class="hdr_cell1" align="left" rowspan="2">
    <img src="{% static "trailer/images/main_icon.png" %}" style="height:72px;width:72px;"/>
</td>
<td class="hdr_cell2" style="height:35px;"><h1 class="hdr_title">{{ title }}</h1></td>
<td class="hdr_cell3" style="height:35px;" align="right">{{ auth_status }}</td>
</tr>

<tr>
<td class="hdr_cell2">
{% if tqz_url > '' %}URL for TQZ file:&nbsp;<a href="{{tqz_url}}" target="self">{{tqz_url}}</a>{% endif %}
</td>
<td class="hdr_cell3" align="right">
<button onclick="parent.location='{{ auth_url }}'">{{ auth_op_label }}</button>
</td>
</tr>

</tbody></table>
</body>
</html>
{% endautoescape %}