<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
<html class="hdr">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html"; charset="iso-8859-1"/>
<link href="/static/layout-ios.css" rel="stylesheet" type="text/css" />
</head>
<body class="hdr">
<table><tbody>
<tr>
<td class="hdr_cell1" align="left">
    <h2>
    <img src="./static/main_icon.png" style="height:70px;width:70px;"/>
    {{ title }}
    </h2>
</td>
</tr>
</tbody></table> 
</body>
</html>
{% endautoescape %}