<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="/javascript/utilities.js" type="text/javascript"></script>
</head>
<body>
Redirecting to "{{redirect_url}}"
</body>
</html>
<script type="text/javascript">
parent.location='{{redirect_url}}'
</script>
{% endautoescape %}