<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/panels.css" %}"/>
</head>
<body>
<table class="sw_table">
<tbody>

<tr><td>
<p>
The 'Trailer' web application is presently under reconstruction 
as an application hosted on Red Hat's OpenShift platform.
</p>
<p>
The original web application hosted on Google App Engine remains
available at 
<a href="http://tl-trailer.appspot.com">http://tl-trailer.appspot.com</a>.
</p>
</td></tr>

</tbody>
</table>

</body>
</html>
{% endautoescape %}
