<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="top_html">
</head>
<body class="top_body">
<script type="text/javascript">

	window.top.location='{{location}}'

</script>
</body>
</html>
{% endautoescape %}
