<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="top_html">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Open+Sans">
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33772875-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body class="top_body">
  <div class="hdr_div"><iframe class="hdr_iframe" id="hdr_iframe" src="header?title={{quoted_title}}&item_type={{item_type}}&handle={{handle}}"></iframe></div>
  {% if lhmode == "admin" %}
  <div class="nav_div_long"><iframe class="nav_iframe_long" src="navigation">&nbsp;</iframe></div>
  {% else  %}
  <div class="nav_div"><iframe class="nav_iframe" src="navigation">&nbsp;</iframe></div>
  <div class="sw_div"><iframe class="sw_iframe" src="/static/short_welcome.html">&nbsp;</iframe></div>
  {% endif %}
  <div class="map_div"><iframe class="map_iframe" src="map?item_type={{item_type}}&handle={{handle}}">&nbsp;</iframe></div>
  <div class="sum_div"><iframe class="sum_iframe" src="summary?item_type={{item_type}}&handle={{handle}}">&nbsp;</iframe></div>
  <div class="tbl_div"><iframe class="tbl_iframe" src="table?item_type={{item_type}}&handle={{handle}}">&nbsp;</iframe></div>
  <div class="ftr_div"><iframe class="ftr_iframe" src="footer">&nbsp;</iframe></div> 
</body>
</html>
{% endautoescape %}