<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
{% load staticfiles %}
<html class="top_html">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static "trailer/css/layout.css" %}" />

</head>
<body class="top_body">
  <div class="hdr_div"><iframe class="hdr_iframe" id="hdr_iframe" src="{{prefix}}/header{{url_params}}"></iframe></div>

{% if lhmode == "admin" %}
  <div class="nav_div_long"><iframe class="nav_iframe_long" src="{{prefix}}/navigation">&nbsp;</iframe></div>
{% else %}
  <div class="nav_div"><iframe class="nav_iframe" src="{{prefix}}/navigation{{url_params}}">&nbsp;</iframe></div>
  <div class="sw_div"><iframe class="sw_iframe" src="{{prefix}}/short_welcome">&nbsp;</iframe></div>
{% endif %}

  <div class="map_div"><iframe class="map_iframe" src="{{prefix}}/map{{url_params}}">&nbsp;</iframe></div>

{% if rhmode == "table_only" %}
  <div class="tbl_div_long"><iframe class="tbl_iframe_long" src="{{prefix}}/table{{url_params}}">&nbsp;</iframe></div>
{% endif %}

{% if rhmode == "details_only" %}
  <div class="dtl_div"><iframe id="dtl_iframe" class="dtl_iframe" src="{{prefix}}/details{{url_params}}">&nbsp;</iframe></div></div>
{% endif %}

{% if rhmode == "summary_and_table" %}
  <div class="sum_div"><iframe class="sum_iframe" src="{{prefix}}/summary{{url_params}}">&nbsp;</iframe></div>
  <div class="tbl_div"><iframe class="tbl_iframe" src="{{prefix}}/table{{url_params}}">&nbsp;</iframe></div>
{% endif %}

{% if rhmode == "instructions_and_form" %}
  <div class="sum_div"><iframe class="sum_iframe" src="{{prefix}}/{{context}}_instructions">&nbsp;</iframe></div>
  <div class="tbl_div"><iframe class="tbl_iframe" src="{{prefix}}/{{context}}_form">&nbsp;</iframe></div>
{% endif %}

  <div class="ftr_div"><iframe class="ftr_iframe" src="{{prefix}}/footer">&nbsp;</iframe></div> 
</body>
</html>
{% endautoescape %}
