<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
{% autoescape off %}
<html class="top_html">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>{{ title }}</title>
<link href="/static/layout-ios.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
/*
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33772875-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script>
</head>
<body class="top_body">
  <div class="hdr_div"><iframe class="hdr_iframe" src="ios_header?title={{ quoted_title }}">&nbsp;</iframe></div>
  <div class="ctt_div">{{ content }}</div>
</body>
</html>
{% endautoescape %}